services:
  db:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: value_user
      POSTGRES_PASSWORD: value_pass
      POSTGRES_DB: value_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U value_user -d value_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgweb:
    image: sosedoff/pgweb
    ports:
      - "8081:8081"
    environment:
      DATABASE_URL: postgres://value_user:value_pass@db:5432/value_db?sslmode=disable
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
